<!DOCTYPE html>
<html>
<head>
  <title>Todolist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<!-- Move flash to layout -->
<% flash.each do |key,val| %>
  <p id='<%= key %>'><%= value %></p>
<% end %>

<body>

<%= yield %>

</body>
</html>
